---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: fdk-organization-bff
  name: fdk-organization-bff
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-organization-bff
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: fdk-organization-bff
    spec:
      containers:
        - name: fdk-organization-bff
          env:
            - name: ORGANIZATION_CATALOG_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: ORGANIZATION_CATALOG_BASE_URI
            - name: FDK_METADATA_QUALITY_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: METADATA_QUALITY_ASSESSMENT_SERVICE_HOST
            - name: FDK_PORTAL_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_NGINX_SEARCH_URI
            - name: FDK_SPARQL_URI
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: FDK_SPARQL_SERVICE_QUERY_URI
            - name: CORS_ORIGIN_PATTERNS
              valueFrom:
                secretKeyRef:
                  name: fdk-organization-bff
                  key: CORS_ORIGIN_PATTERNS
          image: fdk-organization-bff
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          resources:
            requests:
              cpu: 10m
              memory: 150Mi
            limits:
              memory: 150Mi
      restartPolicy: Always
